@media(min-height: 750px) {
    .web-header {
        height: 10vh;
    }
    .search-row {
        height: 8vh;
    }
    .filter-row {
        height: 8vh;
    }
    .map-row {
        height: 80vh;
    }
    .map-box {
        height: 80vh;
    }
    .property-section {
        height: 90vh;
    }
}

@media(max-height: 750px) {
    .web-header {
        height: 75px;
    }
    .search-row {
        height: 60px;
    }
    .filter-row {
        height: 60px;
    }
    .map-row {
        height: calc(100vh - 75px - 60px - 2vh);
    }
    .map-box {
        height: calc(100vh - 75px - 60px - 2vh);
    }
    .property-section {
        height: calc(100vh - 75px);
    }
}

@media(min-width: 992px) {
    /* #filter-toggle-button {
        display: none;
    } */
    /* #filter-collapse {
        display: block;
    } */
}

@media(min-width: 992px) {
    #map-toggle-button {
        display: none;
    }
    .property-section {
        overflow-y: scroll;
    }
}

@media(max-width: 992px) {
    #map-toggle-button {
        display: block;
    }
    #map-collapse {
        display: none;
        transition: display 0.3s ease-in-out;
    }
}

/* .map-section {
    position: absolute;
} */
/* #search-section {
    position: sticky;
    top: 0;
    z-index: 1;
} */